# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science  
- Create markdown cells in Jupyter Notebooks  
- Creating tables in a markdown cells  
- Evaluating arithmetic expressions in Python

## Author
André Luís Lopes da Silva

## Some of the popular languages that Data Scientists use are:

## 1. Python
## 2. R
## 3. Scala
## 4. Julia

### Some of the commonly used libraries used by Data Scientists include:

### 1. Pandas
### 2. Numpy
### 3. Matplotlib
### 4. Sklearn

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Spark              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335